body {
  background-color: #a5cbc5;
}

#container {
  text-align: center;
  margin-top: 45%;
  margin-bottom: 55%;
}

#container h2 {
  font-family: 'Lobster', cursive;
}

#container button#next {
  padding: 20px 40px;
  border-radius: 10px;
}
