body{
//    background-color: #a5cbc5;
}

#container{
    text-align: center;
    position: absolute;
    bottom: 50%;
    width: 100%;
    
    h1{
        font-family: 'Lobster', cursive;
        text-shadow: 0 0 3px #cccccc, 0 0 20px #ffffff
    }
    
    button#next{
        padding: 20px 40px;
        border-radius: 10px;
        background-color: #ff0000;
        border: 4px outset #f81515;
        color: #eee;
        font-family: 'Lobster', cursive;
        font-size: 1.5em; 
        
        &:active{
            border: 5px inset #f81515;
        }
        
        &:focus{
            outline: none;
        }
    }
}